{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="home-card">

    <p class="welcome-text">WELCOME TO MY WEBSITE</p>

    <h1>Hi, I'm Bernard Orquez</h1>

    <h2>Computer Engineering Student</h2>

    <p class="intro">
        I'm a 2nd Year Computer Engineering student interested in
        programming, computer networking, and technology.
        This website showcases some of my projects, activities,
        and what I am currently learning.
    </p>

    <div class="home-buttons">
        <a href="/profile" class="work-button">View My Profile</a>
        <a href="/works" class="work-button">Explore My Works →</a>
    </div>

    <hr>

    <div class="interests">

        <div class="interest-box">
            <h3>💻 Programming</h3>
            <p>Python, Flask, HTML & CSS</p>
        </div>

        <div class="interest-box">
            <h3>🌐 Networking</h3>
            <p>Computer networks and infrastructure</p>
        </div>

        <div class="interest-box">
            <h3>⚡ Engineering</h3>
            <p>Computer Engineering & Technology</p>
        </div>

    </div>

</div>

{% endblock %}
