{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="content-card">

    <h1>MY PROFILE</h1>

    <h2>About Me</h2>

    <p>
        Hello! I'm Bernard Orquez, a 2nd Year Computer Engineering
        student interested in technology, programming, and computer
        networking. I enjoy learning how computer systems communicate
        and building simple applications using programming.
    </p>

    <hr>

    <h2>Personal Information</h2>

    <p><strong>Name:</strong> Bernard Orquez</p>
    <p><strong>Course:</strong> Computer Engineering</p>
    <p><strong>Year:</strong> 2nd Year</p>
    <p><strong>Organization:</strong> CNCP Enterprise Networking Cadet</p>

    <hr>

    <h2>Skills & Interests</h2>

    <ul>
        <li>Python Programming</li>
        <li>HTML & CSS</li>
        <li>Flask</li>
        <li>Computer Networking</li>
        <li>Web Development</li>
        <li>Computer Hardware</li>
    </ul>

    <hr>

    <h2>My Goal</h2>

    <p>
        My goal is to strengthen my skills in computer engineering,
        especially in networking and software development, while
        gaining practical experience through projects and hands-on
        learning.
    </p>

    <br>

    <a href="/contact" class="work-button">Contact Me →</a>

</div>

{% endblock %}