{% extends "base.html" %}

{% block title %}
Works
{% endblock %}

{% block content %}

<div class="content-card">

    <h1>MY WORKS</h1>

    <p>Here are my projects and activities:</p>

    <hr>

    <h2>1. Uppercase Converter</h2>
    <p>Convert any text into uppercase letters.</p>
    <a href="/works/uppercase" class="work-button">Convert Uppercase →</a>

    <br><br>

    <h2>2. Circle Area Calculator</h2>
    <p>Calculate the area of a circle using its radius.</p>
    <a href="/works/area/circle" class="work-button">Calculate Circle Area →</a>

    <br><br>

    <h2>3. Rectangle Area Calculator</h2>
    <p>Calculate the area of a rectangle using length and width.</p>
    <a href="/works/area/rectangle" class="work-button">Calculate Rectangle Area →</a>
    </div>

{% endblock %}